<script>
    //if the user is not logged send to login page
    if(localStorage.getItem("loggedin") == null){
        window.location.replace("/login")
    }

    //remove the loggedin from local storage
    function logout(){
        localStorage.removeItem("loggedin")
        window.location.replace("/login")
    }
</script>
<html>
    Wow I guess you're logged in
    <div><button onclick = "logout()">Log out </button></div>
</html>