<script>
    if(localStorage.getItem("loggedin") != null){
        window.location.replace("/dashboard")
    }
    function login(){
        email = document.getElementById("email").value
        password = document.getElementById("password").value

        const data = { email: email, password:password };

        //make a post request to /login with the given data
        fetch('/login', {
        method: 'POST', // or 'PUT'
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            //if it is sucessful, add it to localstorage to show that the user is logged in
            if(data.success != null){
                localStorage.removeItem('loggedin');
                localStorage.setItem('loggedin', data.success);
                window.location.replace("/dashboard")
            }else{
                document.getElementById("hidden").innerHTML = "Wrong Password or Email"
            }
            
        })
        .catch((error) => {
        console.error('Error:', error);
        });   
    }
</script>

<html>
   <label>Email : </label> <input id ="email"/>
<br>
<label>Password : </label>
    <input type = "password" id = "password"/>
<br>
<button onclick = "login()">Login</button>
<div id = "hidden"></div>

<a href = "/signup" > Signup </a>
</html>