<html>
<script>
    if(localStorage.getItem("loggedin") != null){
        window.location.replace("/dashboard")
    }
        function signup(){
             email = document.getElementById("email").value
             password = document.getElementById("password").value
             cpassword = document.getElementById("confirmpassword").value
             fname = document.getElementById("fname").value
             lname = document.getElementById('lname').value
     
             if(password != cpassword){
                 document.getElementById("incorrect").innerHTML="Passwords don't match"
             }else{
                 //make a post request to /signup to the server with the given data
                 fetch('/signup', {
                     method: 'POST', 
                     headers: {
                         'Content-Type': 'application/json',
                     },
                     body: JSON.stringify({email:email, password:password, firstname : fname, lastname : lname}),
                     })
                     .then(response => response.status)
                     .then(data => {
                         
                         if(data == 400){
                             alert("Email Already Exist")
                         }
                         else{
                             window.location = "/login"
                         }
                     })
                     .catch((error) => {
                     console.error('Error:', error);
                     });
              }
         }
</script>
    <label>FirstName : </label>
    <input id = "fname"/>
    <br>
    <label>LastName : </label>
    <input id = "lname"/>
    <br>
    <label>Email : </label>
    <input id = "email" required/>
    <br>
    <label>Password : </label>
    <input type = "password" id = "password" required/>
    <br>
    <label>Confirm Password : </label>
    <input type = "password" id = "confirmpassword" required/>
    <br>
    <div id = "incorrect"></div>
    <button onclick = "signup()">Sign up</button>
    <a href="/login"> Login</a>
</html>

